
$prefix:  bs- !default;

.list-badges {

  display: inline-flex;
  flex-wrap: wrap;
  gap: 6px;

  li[class*="badge-"] {
    display: inline-flex;
    border-radius: var(--bs-border-radius);
    font-size: .875rem;
    line-height: .875rem;
    font-weight: 600;
    letter-spacing: 0;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    &.text-bg-outline {
      color: $black;
      border: 2px solid #D9D9D9;
    }
    &:empty {
      display: none;
    }
  }

}

.badge-lg {
  padding: .75rem 1rem;
  &.text-bg-outline {
    padding: .625rem .875rem;
  }
}

.badge-sm {
  padding: .5rem;
  &.text-bg-outline {
    padding: .425rem;
  }
}