
footer {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
  dt {
    color: $text-gray;
    font-weight: normal;
    text-transform: uppercase;
    font-size: $font-size-base * 1.125;
    letter-spacing: 2px;
  }
  dd {
    color: $white;
    &.footer-desc-lg {
      font-size: $font-size-base * 2.625;
      line-height: 3.75rem;
      font-weight: 500;
      letter-spacing: -1px;
    }
    &.footer-desc-sm {
      font-size: $font-size-base * 1.5;
      line-height: 2.375rem;
      letter-spacing: -.5px;
    }
  }
  a {
    color: $white;
    &#linkedin {
      margin-top: 3rem;
      font-size: 1.5rem;
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      text-decoration: none;
      &:before {
        content: "";
        width: 48px;
        height: 48px;
        background: url("../../images/icon-linkedin.svg") no-repeat;
        margin-right: 1.5rem;
      }
    }
    &:focus, &:focus-visible {
      outline: 4px solid $white;
      outline-offset: 8px;
      border-radius: .075rem;
    }
  }
  p.copyright {
    padding-top: 6.25rem;
    color: $text-gray;
    font-weight: normal;
    text-transform: uppercase;
    font-size: $font-size-base;
  }
}