
#section-hero {

  @media (min-width: 576px) {
    padding: 12px;
  }
  @media (max-width: 575px) {
    padding: 12px 0;
  }

  .wrapper-hero {

    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;

    @media (min-width: 1200px) {
      border-radius: var(--bs-border-radius);
      height: calc(100vh - 24px);
      min-height: 980px;
    }

    #introduction {

      position: relative;
      z-index: 20;

      @media (min-width: 1400px) {
        width: 20vw;
      }

      @media (min-width: 1200px) and (max-width: 1399px) {
        width: 30vw;
      }

      @media (min-width: 1200px) {
        position: absolute;
        right: 72px;
        top: 50%;
        transform: translateY(-50%);
        h1 {
          color: $white;
        }
      }

      .subtitle-lg {
        font-weight: 500;
        letter-spacing: -1px;
        @media (min-width: 1200px) {
          font-size: $font-size-base * 2.75;
          line-height: $font-size-base * 3.5;
        }
        @media (max-width: 1199px) {
          font-size: $font-size-base * 2.25;
          line-height: $font-size-base * 3;
        }

        span {
          color: $black;
        }
      }

      .description {
        font-size: $font-size-base * 1.25;
        letter-spacing: -1px;
        line-height: $font-size-base * 2;
      }

    }

    #background {

      @media (max-width: 1199px) {
        border-radius: var(--bs-border-radius);
        min-height: 800px;
        overflow: hidden;
        position: relative;
      }
      @media (max-width: 767px) {
        min-height: 500px;
      }
      @media (max-width: 575px) {
        margin: 0 12px;
      }

      img {
        height: auto !important;
        left: 50%;
        min-height: 100%;
        min-width: 100%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: auto !important;
        z-index: -1;
        @media (min-width: 1400px) and (max-width: 1699px) {
          left: 40%;
        }
        @media (min-width: 1200px) and (max-width: 1399px) {
          left: 30%;
        }
        @media (max-width: 767px) {
          max-height: 100%;
        }

        &.hero-bg-mobile {
          @media (min-width: 768px) {
            display: none !important;
          }
        }

        &.hero-bg-desktop {
          @media (max-width: 767px) {
            display: none !important;
          }
        }
      }

      &:before {
        bottom: 36px;
        color: $white;
        content: "Meta Designer";
        display: flex;
        font-weight: 500;
        left: 36px;
        position: absolute;
        text-transform: uppercase;
        @media (min-width: 1920px) {
          font-size: 24rem;
          letter-spacing: -5px;
          line-height: 20rem;
        }
        @media (min-width: 1400px) and (max-width: 1919px) {
          bottom: 36px;
          font-size: 17rem;
          left: 36px;
          letter-spacing: -5px;
          line-height: 15rem;
        }
        @media (min-width: 1200px) and (max-width: 1399px) {
          bottom: 36px;
          font-size: 14rem;
          left: 36px;
          letter-spacing: -5px;
          line-height: 12rem;
        }
        @media (min-width: 992px) and (max-width: 1199px) {
          bottom: 24px;
          font-size: 12rem;
          left: 24px;
          letter-spacing: -5px;
          line-height: 10rem;
        }
        @media (min-width: 768px) and (max-width: 991px) {
          bottom: 24px;
          font-size: 9rem;
          left: 24px;
          letter-spacing: -5px;
          line-height: 8rem;
        }
        @media (min-width: 576px) and (max-width: 767px) {
          bottom: 24px;
          font-size: 7rem;
          left: 24px;
          letter-spacing: -4px;
          line-height: 6rem;
        }
        @media (max-width: 575px) {
          bottom: 12px;
          font-size: 5rem;
          left: 12px;
          letter-spacing: -2px;
          line-height: 4.5rem;
        }
      }
    }

  }

}