$prefix: bs- !default;

.modal {
  .modal-dialog {
    .modal-content {

      background-color: #F5F5F5;
      padding: $spacer * .75;

      .modal-header, .modal-body {
        background-color: $white;
      }

      .modal-header {

        border: none;
        border-radius: var(--bs-border-radius);
        margin-bottom: $spacer * .75;
        z-index: 2;

        @media (min-width: 576px) {
          padding: 1.5rem;
        }
        @media (max-width: 575px) {
          padding: .75rem 1.5rem;
        }

        h2 {
          @media (min-width: 576px) {
            font-size: $font-size-base * 1.625;
          }
          @media (max-width: 575px) {
            font-size: $font-size-base * 1.25;
            padding-right: .75rem;
          }
        }

        .btn-close {
          background-color: $black;
          background-image: none;
          border-radius: var(--bs-border-radius);
          color: $white;
          opacity: 1;
          position: relative;
          @media (min-width: 576px) {
            height: 3rem;
            min-width: 3rem;
            width: 3rem;
          }
          @media (max-width: 575px) {
            height: 2.25rem;
            min-width: 2.25rem;
            width: 2.25rem;
          }

          &:after {
            background: transparent url("../../images/btn-close.svg") no-repeat center;
            content: "";
            display: flex;
            height: 20px;
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 20px;
          }

          &:focus, &:focus-visible {
            box-shadow: none;
            outline: 4px solid $light-gray;
            outline-offset: 4px;
          }

        }

      }

      .modal-body {

        background-color: transparent;
        -ms-overflow-style: none;
        overflow-y: scroll;
        padding: 0;
        scrollbar-width: none;

        &::-webkit-scrollbar {
          height: 0;
          width: 0;
        }

        &:focus-visible {
          box-shadow: none;
          outline: 4px solid $light-gray;
          outline-offset: -5px;
        }

        .case-header {
          border-radius: var(--bs-border-radius);
          position: relative;
          z-index: 3;
        }

        #case-hero {
          @media (min-width: 1200px) {
            padding-top: 5rem;
          }
          @media (max-width: 1199px) {
            padding-top: .75rem;
          }

          img {
            height: auto;
            width: 100%;
          }
        }

        .case-role {
          dl {
            dt {
              background-color: $white;
              border-radius: var(--bs-border-radius);
              color: $black;
              display: flex;
              font-size: $font-size-base * 1.25;
              font-weight: 500;
              margin-bottom: .75rem;
              @media (min-width: 992px) {
                padding: 1.75rem;
              }
              @media (max-width: 991px) {
                padding: 1.5rem;
              }

              &:after {
                align-items: center;
                color: $text-gray;
                display: inline-flex;
                font-size: $font-size-base * .75;
                font-weight: normal;
                margin-left: auto;
              }

              &[data-order="1"]:after {
                content: "01";
              }

              &[data-order="2"]:after {
                content: "02";
              }

              &[data-order="3"]:after {
                content: "03";
              }

              &[data-order="4"]:after {
                content: "04";
              }
            }

            dd {
              ul {
                list-style: none;
                padding-left: 0;

                li {
                  background-color: $black;
                  border-radius: var(--bs-border-radius);
                  color: $white;
                  margin-bottom: .375rem;
                  @media (min-width: 992px) {
                    padding: .75rem 1.5rem;
                  }
                  @media (max-width: 991px) {
                    padding: .75rem 1.5rem;
                  }
                }
              }
            }
          }
        }

        h3, h4 {
          color: $black;
        }

        p:not(.subtitle-sm) {
          font-size: $font-size-base * 1.125;
          letter-spacing: -.5px;
          line-height: 1.75rem;
          margin-bottom: 0;

          &:not(:last-of-type) {
            margin-bottom: $spacer * .75;
          }
        }

        ul {
          padding: 0;

          li {
            font-size: $font-size-base * 1.125;
            letter-spacing: -.5px;
            line-height: 1.75rem;
          }
        }

        .case-solution {
          img {
            height: auto;
            max-width: 100%;
            width: auto;
          }
        }

      }

    }
  }
}