
.statistic-wrapper {
  @media (max-width: 767px) {
    &:not(:last-of-type) {
      margin-bottom: $spacer;
    }
  }
}

.statistic {

  border-radius: var(--bs-border-radius);
  display: flex;
  flex-direction: column;
  height: 100%;

  @media (min-width: 992px) {
    padding: 2.25rem;
  }
  @media (max-width: 991px) {
    padding: 1.5rem;
  }


  i {
    display: flex;
    height: 36px;
    width: 36px;

    @media (min-width: 768px) {
      margin-bottom: 3rem;
    }
    @media (max-width: 767px) {
      margin-bottom: 1rem;
    }

  }

  h3 {
    line-height: inherit;
    .value {
      align-items: center;
      display: flex;
      @media (min-width: 1200px) {
        font-size: 6rem;
        letter-spacing: -3px;
        line-height: 6rem;
      }
      @media (max-width: 1199px) {
        font-size: 4rem;
        letter-spacing: -2px;
        line-height: 4rem;
      }
    }
    sup {
      bottom: 0;
      color: #666666;
      font-size: 3rem;
      line-height: unset;
      margin-left: 5px;
      top: -4px;
    }
    .value-description {
      display: flex;
      font-size: 1.25rem;
      letter-spacing: -1px;
    }
  }

}