
#section-projects {
  .card {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;

    &:focus-visible {
      box-shadow: none;
      outline: 4px solid $light-gray;
      outline-offset: 4px;
    }

    .card-body {
      background-color: $white;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: flex-end;
      text-align: left;

      ul.project-type {
        color: $black;
        display: inline-flex;
        flex-wrap: wrap;
        font-size: $font-size-base * 1;
        letter-spacing: -.5px;
        line-height: $font-size-base * 1.5;
        list-style: none;

        li:not(:last-of-type) {
          &:after {
            content: "+";
            display: inline-flex;
            margin: 0 5px;
          }
        }
      }

      @media (min-width: 1200px) {
        padding: 2.25rem;
      }
      @media (min-width: 768px) and (max-width: 1199px) {
        padding: 1.5rem;
      }
      @media (min-width: 768px) {
        min-height: 500px;
      }
      @media (max-width: 767px) {
        background-color: transparent;
        padding: 1.5rem 1.5rem 1.5rem 0;
      }
    }

    .card-image {
      display: flex;
      flex-direction: column;
      height: 100%;
      overflow: hidden;
      position: relative;
      width: 100%;

      img {
        align-self: center;
        height: auto;
        min-height: 100%;
        min-width: 100%;
        width: auto;
        @media (max-width: 767px) {
          max-width: 100%;
        }
      }
    }

    @media (min-width: 768px) {

      .card-body, .text-bg-dark {
        transition: background-color 0.3s ease;
      }
      h4, ul.project-type, .text-bg-outline {
        transition: color 0.1s ease;
      }
      .text-bg-outline {
        transition: border-color 0.3s ease;
      }

      &:hover {
        .card-body {
          background-color: $black;

          h4, ul.project-type {
            color: $white;
          }

          .text-bg-dark {
            background-color: #262626 !important;
          }

          .text-bg-outline {
            border-color: #262626 !important;
            color: white !important;
          }
        }
      }

    }

  }
}

#section-assorted {
  margin-top: 6rem;
}

#filter-grid-assorted {
  display: inline-flex;
  list-style-type: none;
  padding: 0;

  li {
    position: relative;

    button {
      align-items: center;
      background-color: $white;
      border: none;
      border-radius: var(--bs-border-radius) 0 var(--bs-border-radius) var(--bs-border-radius);
      color: $medium-gray;
      display: flex;
      font-weight: bold;

      &:focus-visible, &:focus {
        box-shadow: none;
        outline: 4px solid $light-gray;
        outline-offset: 4px;
      }

      &[aria-checked="true"] {
        color: $black;
      }

      @media (min-width: 576px) {
        font-size: $font-size-base;
        padding: $spacer $spacer * 1.5;
      }
      @media (max-width: 575px) {
        font-size: .838rem;
        padding: $spacer;
      }
    }

    &:not(:last-of-type) {
      &:after {
        background: url("../../images/title-divider.svg") no-repeat;
        content: "";
        display: flex;
        height: 28px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 10px;
        z-index: -1;
      }

      button {
        margin-right: 10px;
      }
    }
  }
}

#grid-assorted {
  display: flex;
  flex-direction: column;
  margin: 0;
  overflow: hidden;
  padding: 0;

  > li {
    align-items: center;
    border-top: 1px solid #DCDCDC;
    cursor: default;
    display: flex;
    position: relative;
    @media (min-width: 1200px) {
      padding: 1.5rem;
    }
    @media (max-width: 1199px) {
      padding: 1.25rem .75rem;
    }

    @media (min-width: 1400px) {
      &:after {
        background-color: $white;
        border-radius: var(--bs-border-radius);
        content: "";
        height: 0;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: height 0.3s ease, opacity 0.3s ease;
        width: calc(100% - 12px);
        z-index: -1;
      }
      &:hover:after {
        height: calc(100% - 12px);
        opacity: 1;
      }
    }

    .project-details {
      h4 {
        flex-grow: 1;
        font-weight: 600;
        margin: 0;
        @media (min-width: 1200px) {
          font-size: $font-size-base * 2;
          letter-spacing: -1px;
        }
        @media (max-width: 1199px) {
          font-size: $font-size-base * 1.75;
          letter-spacing: -.5px;
        }

        span {
          color: $medium-gray-alt;
          font-size: $font-size-base * 1.125;
        }
      }
    }

    time {
      color: $medium-gray-alt;
      margin: 0;
      @media (min-width: 1200px) {
        font-size: $font-size-base * 1.25;
      }
      @media (max-width: 1199px) {

      }
    }
  }
}